.content {
    margin: 0 auto;
    padding: 30px 15px;
    width: 50%;
    max-width: 1230px;
}

.content-title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.address-edit {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    font-size: 20px;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.form__group-title .label {
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
}

.error {
    color: #ff4d4f;
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
}


.form__button {
    text-align: center;
    margin-top: 30px;
}

.form__button-submit {
    width: 100%;
    margin-top: 30px;
    padding: 12px 0;
    background-color: #ff5e5e;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}